header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    margin-bottom: 70px;
    
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;

}

li{
    list-style: none;
    cursor: pointer;

}
.link-title{
    
    text-decoration: none;
}

.logout__link{
    background-color: blue;
   color: white !important;
    font-weight: bold;
    padding: 3px 8px;
    text-decoration: none;
    border-radius: 5px;

}